@using Restaurants.Models

@{
  Layout = "_Layout";
}

@model Restaurants.Models.Cuisine

<h2>View cuisine details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3> 
<p>@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Delete Cuisine", "Delete", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Back to all cuisines", "Index")</p>



@* @model ToDoList.Models.Category

where do they show all the item in the category? all the restaurants for the cuisine item/index (cuisines/{id}/index) the restaurants/index is this I think
*@